    <!-- Student Name -->
    <div class="form-group row">
      <label class="col-3 col-form-label" for="email"
        >Full Name:</label
      >
      <div class="col-9">
        <input
          type="text"
          class="form-control"
          placeholder="Enter name"
          name="name"
          required
        />
      </div>
    </div>
    <!-- Student Phone Number -->
    <div class="form-group row">
      <label class="col-3 col-form-label" for="PhoneNumber"
        >Phone:</label
      >
      <div class="col-9">
        <input
          type="text"
          class="form-control"
          pattern="^0\d*"
          placeholder="Enter Phone Number"
          name="phoneNumber"
          maxlength="11"
          minlength="10"
          required
        />
      </div>
    </div>
    <!-- Student Email -->
    <div class="form-group row">
      <label class="col-3 col-form-label" for="email"
        >Email:</label
      >
      <div class="col-9">
        <input
          type="email"
          class="form-control"
          placeholder="Enter Email"
          name="email"
          required
        />
      </div>
    </div>
    <!-- Student Password -->
    <div class="form-group row">
      <label class="col-3 col-form-label" for="pass"
        >Password:</label
      >
      <div class="col-9">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password"
          name="password"
          minlength="6"
          required
        />
      </div>
    </div>
     <!-- Student Sex -->
     <div class="form-group row">
      <label class="col-3 col-form-label" for="sex">Sex:</label>
      <div class="col-9">
        <select class="form-control" name="sex">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>
    <!-- Student Specialized -->
    <div class="form-group row">
      <label class="col-3 col-form-label" for="specialized"
        >Specialized:</label
      >
      <div class="col-9">
        <select
          class="form-control"
          id="specialized"
          name="specialized"
        >
          <option>Application Software</option>
          <option>Mobile Developer</option>
          <option>Web Developer</option>
        </select>
      </div>
      <!-- Student Sex -->
    </div>
    <!-- Student Class -->
    <div class="form-group row">
      <label class="col-3 col-form-label" for="class"
        >Class:</label
      >
      <div class="col-9">
        <input
          type="text"
          class="form-control"
          placeholder="Enter class"
          name="class"
          maxlength="8"
          required
        />
      </div>
    </div>
    <!-- Date of birth -->
    <div class="form-group row">
      <label for="birthday" class="col-3 col-form-label"
        >Birthday:</label
      >
      <div class="col-9">
        <input
          class="form-control"
          type="date"
          name="birthday"
          required
        />
      </div>
    </div>