<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <a class="navbar-brand" href="/admin">Admin Page</a>
    <li class="nav-item">
      <a class="nav-link" href="/admin/news">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/student">Students</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/semester">Semesters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/subject">Subjects</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
        >Account</a
      >
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Log out</a>
      </div>
    </li>
  </ul>
</nav>
