<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/icon.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%- include('../partials/nav_admin.ejs',{user:user}) %>

    <div style="padding-bottom: 20px;" class="container">
      <h2 class="text-primary">Create User</h2>
      <form action="/admin/user/add" method="POST" enctype="multipart/form-data">
        <!-- Image picker -->
        <div class="form-group">
          <label for="img">Image News:</label>
          <input
            type="file"
            class="form-control-file"
            id="img"
            name="avatar"
          />
          <!-- Preview Image -->
          <div class="container d-flex justify-content-center">
            <img
              style="max-height: 250px; max-width: 100%; object-fit: contain;"
              id="showImage"
              class="border border-primary rounded-lg"
              src="#"
              alt="Image"
            />
          </div>
        </div>
        <!-- Account Type -->
        <div class="form-group row">
          <label class="col-3 col-form-label" for="type">User Type:</label>
          <div class="col-9">
            <select class="form-control" id="type" name="type">
              <option>Lecturer</option>
              <option>Student</option>
            </select>
          </div>
        </div>
        <!-- User Name -->
        <div class="form-group row">
          <label class="col-3 col-form-label" for="email">Full Name:</label>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              placeholder="Enter name"
              name="name"
              required
            />
          </div>
        </div>
        <!-- Student Phone Number -->
        <div class="form-group row">
          <label class="col-3 col-form-label" for="PhoneNumber">Phone:</label>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              pattern="^0\d*"
              placeholder="Enter Phone Number"
              name="phoneNumber"
              maxlength="11"
              minlength="10"
              required
            />
          </div>
        </div>
        <!-- Student Email -->
        <div class="form-group row">
          <label class="col-3 col-form-label" for="email">Email:</label>
          <div class="col-9">
            <input
              type="email"
              class="form-control"
              placeholder="Enter Email"
              name="email"
              required
            />
          </div>
        </div>
        <!-- Student Password -->
        <div class="form-group row">
          <label class="col-3 col-form-label" for="pass">Password:</label>
          <div class="col-9">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Enter password"
              name="password"
              minlength="6"
              required
            />
          </div>
        </div>
        <!-- User's Sex -->
        <div class="form-group row">
          <label class="col-3 col-form-label" for="sex">Sex:</label>
          <div class="col-9">
            <select class="form-control" name="sex">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
        </div>
        <!-- Teaching Subject -->
        <div id="subject" class="form-group row">
          <label class="col-3 col-form-label" for="subject"
            >Teaching Subject:</label
          >
          <div class="col-9">
            <select class="form-control" id="subject" name="subject">
              <% data.forEach((item)=>{ %>
              <option><%-item.name%></option>
              <% }); %>
             
            </select>
          </div>
        </div>
        <!-- Student's Specialized -->
        <div id="specialized" class="form-group row">
          <label class="col-3 col-form-label" for="specialized"
            >Specialized:</label
          >
          <div class="col-9">
            <select class="form-control" id="specialized" name="specialized">
              <option>Application Software</option>
              <option>Mobile Developer</option>
              <option>Web Developer</option>
            </select>
          </div>
        </div>
        <!-- Student Class -->
        <div id="class" class="form-group row">
          <label class="col-3 col-form-label" for="class">Class:</label>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              placeholder="Enter class"
              name="class"
              id="class"
              maxlength="8"
              required
            />
          </div>
        </div>
        <!-- Date of birth -->
        <div class="form-group row">
          <label for="birthday" class="col-3 col-form-label">Birthday:</label>
          <div class="col-9">
            <input class="form-control" type="date" name="birthday" required />
          </div>
        </div>
        <!-- Action for form -->
        <div
          class="row justify-content-center align-items-center"
          style="margin-top: 20px;"
        >
          <input type="submit" class="btn btn-primary col-3" value="Submit">
          
          <button
            type="reset"
            style="margin-left: 20px; margin-right: 20px;"
            class="btn btn-primary col-3"
            id="clear"
          >
            Clear
          </button>
        </div>
      </form>
    </div>
    <script>
      $(document).ready(() => {
        var type = $("select#type");
        var studentClass = $("div#class");
        var specialized = $("div#specialized");
        var subject = $("div#subject");
        studentClass.hide();
        specialized.hide();
        $("input#class").prop('disabled', true);
        $("select#specialized").prop('disabled', true);
        type.on("change",function(){
            if($(this).val() == "Lecturer"){
              subject.show();
              studentClass.hide();
              specialized.hide();
              $("select#subject").prop('disabled', false);
              $("input#class").prop('disabled', true);
              $("select#specialized").prop('disabled', true);
            }else{
              studentClass.show();
              specialized.show();
              subject.hide();
              $("select#subject").prop('disabled', true);
              $("input#class").prop('disabled', false);
              $("select#specialized").prop('disabled', false);
            }
        })

        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = (e) => {
              $("#showImage").attr("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#clear").click(() => {
          $("#showImage").attr("src", null);
        });
        $("#img").change(function () {
          readURL(this);
        });
      });
    </script>
  </body>
</html>
